{#{% extends "main/header.html" %}#}

{% block content %}

  {% load crispy_forms_tags %}
  {% load crispy_forms_filters %}

  <!--Password Reset Confirm-->
    <div class="container p-5">
	    <h2 class="font-weight-bold mt-3">Изменение пароля</h2>
		<hr>
        <p>Введите новый пароль.</p>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-primary" type="submit">Изменить пароль</button>
        </form>
    </div>

{% endblock %}
