{#{% extends 'main/header.html' %}#}


{% block content %}

	<!--Password reset sent-->
	<div class="container p-5">
  	<h2 class="font-weight-bold mt-3">Запрос на изменения пароля отправлен</h2>
		<hr>
		<p>Дальнейшие инструкции по сбросу пароля отправлены на указанный Вами email адрес. Вы получите их в ближайшее время, если учетная запись с таким email адресом существует.
            <br>Если вы не получили письмо, проверьте правильность введенного email адреса и удостоверьтесь, что письмо не попало в спам. </p>
  </div>

{% endblock %}
