{#{% extends 'main/header.html' %}#}


{% block content %}

	{% load crispy_forms_tags %}
    {% load crispy_forms_filters %}

	<!--Reset Password-->
	<div class="container p-5">
  	 	<h2 class="font-weight-bold mt-3">Сброс пароля</h2>
		<hr>
		<p>В случае необходимости замены пароля укажите здесь ваш e-mail адрес, на который придут дальшнейшие инструкции для сброса.</p>
        <form method="POST">
            {% csrf_token %}
            {{ password_reset_form|crispy }}
            <br>
            <button class="btn btn-primary" type="submit">Отправить письмо</button>
        </form>
  	</div>

{% endblock %}
